.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.UserDetailPopup_Dark_modal_body__RxmB4 .UserDetailPopup_Dark_user_detail_nav__Igetx li button.active {
  background: #03FB75;
  box-shadow: 0px 2px 8px rgba(3, 251, 117, 0.26);
  backdrop-filter: blur(10px);
  border-radius: 50px;
}

.UserDetailPopup_Light_user_detail_nav__M4tzc li button.active{
  background: rgba(49, 167, 57, 1) !important;
  box-shadow: 0px 2px 8px rgba(3, 251, 117, 0.26);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  color: #FFFFFF !important;
}

.Navbar_Dark_nav_link__m-yeb.active {
  background: rgb(247 247 247 / 60%) !important;
  box-shadow: 0px 0px 6px #5f5f6f !important;
  backdrop-filter: blur(10px);
  color: #ffffff !important;
  border-color: transparent !important;
  font-family: 'Poppins_SemiBold';
}

.NavBar_Light_nav_link__wZmgx.active {
  background: #2E3867 !important;
  box-shadow: 0px 0px 6px #5F5F6F !important;
  backdrop-filter: blur(10px) !important;
  color: #ffffff !important;
  border-color: transparent !important;
  font-family: 'Poppins_SemiBold';
}

.ChatSupport_Dark_chat_nav__ETzhT .ChatSupport_Dark_nav_link__nS21l.active {
  color: #FFFFFF !important;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(218, 218, 218, 1) !important;
}

.ChatSupport_Light_chat_nav__eoa-d .ChatSupport_Light_nav_link__EVXdR.active {
  color: rgba(43, 45, 80, 1) !important;
  background-color: transparent !important;
  border-bottom: 1px solid rgba(43, 45, 80, 1) !important;
}

.NotificationRightSideBar_Dark_sidenav__MVNuc .NotificationRightSideBar_Dark_notification_panel__jyFkR .NotificationRightSideBar_Dark_notification_nav__nh1Sl .NotificationRightSideBar_Dark_nav_link__wZcuK.active {
  background: rgb(31 187 103) !important;
  color: #FFFFFF !important;
  border: 0px !important;
  border-radius: 8px !important;
}

.NotificationRightSideBar_Light_nav_link__eZQrP.active {
  background: rgb(31 187 103) !important;
  color: #FFFFFF !important;
  border: 0px !important;
  border-radius: 8px !important;
}

.SideBar_dark_nav_link__cL8NS.active {
  background: rgba(1, 2, 47, 0.6) !important;
  border: 1px solid rgba(1, 2, 47, 0.6) !important;
  box-shadow: 0px 0px 6px #5F5F6F !important;
  backdrop-filter: blur(10px);
  color: #ffffff !important;
}

.SideBar_Light_nav_link__fcSuf.active {
  background: #2B2D50 !important;
  box-shadow: 0px 0px 6px #5F5F6F !important;
  border: 1px solid rgba(1, 2, 47, 0.6) !important;
  backdrop-filter: blur(10px);
  color: #ffffff !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main_panel {
  margin-left: 300px;
  margin-top: 80px;
}

body {
  background: #01022f !important;
}