.avaiable_payment_upper_cards .upper_card_title .sub_title {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Poppins_Medium';
}

.avaiable_payment_upper_cards .upper_card_title .sub_title span{
    color: rgba(255, 255, 255, 0.6);
}

.avaiable_payment_upper_cards .change_in_flow_red{
    color: rgba(247, 147, 26, 1) !important;
}

.avaiable_payment_upper_cards .change_in_flow_neon{
    color: rgba(98, 126, 234, 1) !important;
}

.avaiable_payment_upper_cards .change_in_flow_green{
    color: rgba(29, 224, 180, 1) !important;
}