.navbar_search input {
    background: #202447 !important;
    box-shadow: 0px 0px 6px #5f5f6f !important;
    backdrop-filter: blur(10px);
    border: 1px solid #202447 !important;
    width: 407px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff !important;
    font-family: 'Poppins_Light';
  }
  
  .navbar_search input::placeholder {
    color: #ffffff !important;
  }
  
  .toggle_switch .nav_item .nav_link {
    background: rgb(43 45 80 / 60%);
    box-shadow: 0px 0px 6px #5f5f6f;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #ffffff;
    border-bottom: 0px;
    border-radius: 0px;
    border-color: transparent !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 130px;
    height: 52px;
    font-family: 'Poppins_Medium';
  }
  
  .toggle_switch .nav_item .nav_link.active {
    background: rgb(247 247 247 / 60%);
    box-shadow: 0px 0px 6px #5f5f6f;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #ffffff !important;
    border-color: transparent !important;
    font-family: 'Poppins_SemiBold';
  }
  
  .notifications {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    cursor: pointer;
  }
  
  .notifications img {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .profile_link_nav .name {
    color: #ffffff !important;
    font-family: 'Poppins_Medium';
  }
  
  .admin_nav {
    position: fixed !important;
    margin-left: 300px;
    width: 100%;
    background: #01022f;
    width: 80%;
    z-index: 1;
  }
  
  .nav_profile {
    width: 529px;
    right: 0 !important;
    top: -3px !important;
    height: 401px;
    left: auto !important;
    background-color: rgba(54, 54, 54, 0.2) !important;
    backdrop-filter: blur(10px) !important;
  }
  
  .profile_link_nav {
    position: initial !important;
  }
  
  .profile_section {
    text-align: center;
    color: #ffffff;
    width: 443px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .profile_section .header {
    background: #1F1D47;
    box-shadow: 1px 1px 10px rgba(255, 1, 62, 0.18);
    backdrop-filter: blur(50px);
    border-radius: 6.58745px;
    padding: 43px 0px 0px 0px;
  }
  
  .profile_section .footer {
    background: #292B4D;
    box-shadow: 1px 1px 10px rgba(255, 1, 62, 0.18);
    backdrop-filter: blur(50px);
    border-radius: 6.58745px;
    color: rgba(255, 0, 19, 1);
    padding: 20px 0px;
    cursor: pointer;
  }
  
  .edit_profile_icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }