.navbar_search input {
    background: #202447 !important;
    box-shadow: 0px 0px 6px #5F5F6F !important;
    backdrop-filter: blur(10px);
    border: 1px solid #202447 !important;
    width: 407px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF !important;
    font-family: 'Poppins_Light';
}

.navbar_search input::placeholder {
    color: #FFFFFF !important;
}

.toggle_switch .nav-item .nav-link {
    background: rgb(43 45 80 / 60%);
    box-shadow: 0px 0px 6px #5F5F6F;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    border-bottom: 0px;
    border-radius: 0px;
    border-color: transparent !important;
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px ;
    width: 130px;
    height: 52px;
    font-family: 'Poppins_Medium';
}

.toggle_switch .nav-item .nav-link.active {
    background: rgb(247 247 247 / 60%);
    box-shadow: 0px 0px 6px #5F5F6F;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #FFFFFF !important;
    border-color: transparent !important;
    font-family: 'Poppins_SemiBold';
}

.notifications{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    cursor: pointer;
}

.notifications img{
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-item.dropdown .nav-link{
    color: #FFFFFF;
    font-family: 'Poppins_Medium';
}