.page_title {
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    font-family: 'Blinker_ExtraBold';
    margin-top: 6px;
}

.earn_history_table {
    background: rgb(43 45 80 / 60%);
    box-shadow: 0px 0px 6px #5F5F6F;
}

.earn_history_table thead {
    background: rgba(14, 6, 61, 0.3);
    box-shadow: 1px 1px 10px rgba(255, 1, 62, 0.18);
}

.earn_history_table thead tr th {
    padding: 24px 10px;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Poppins_SemiBold';
    border-bottom: 0px;
}

.earn_history_table thead tr th:first-child {
    padding-left: 41px;
}

.earn_history_table tbody tr {
    border-bottom: 0px;
    position: relative;
}

.earn_history_table tbody tr hr {
    background: rgb(224 224 224 / 20%);
    position: absolute;
    width: 95%;
    left: 0;
    bottom: 0;
    padding: 1px;
    margin: auto;
    right: 0;
}

.earn_history_table tbody tr td {
    padding: 16.5px 8px;
    border-bottom: 0px;
    vertical-align: middle;
}

.earn_history_table tbody tr td:first-child {
    padding-left: 41px;
}

.earn_history_table .date_of_bet {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Poppins_Light';
}

.earn_history_table .bet_amount {
    font-size: 16px;
    line-height: 22px;
    color: #FFAD2B;
    font-family: 'Poppins_Bold';
}

.earn_history_table .total_bets div {
    width: 52px;
    background-color: rgba(62, 62, 91, 0.6);
    border-radius: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Poppins_Light';
    padding: 2px 10px;
}