.language_modal {
    background: rgba(54, 54, 54, 0.2);
    backdrop-filter: blur(10px);
}

.language_modal .modal-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(13, 13, 56, 1);
    color: #fff;
    height: 82px;
    border-bottom: 1px solid rgba(13, 13, 56, 1);
}

.language_modal .modal-dialog {
    max-width: 978px !important;
}

.language_modal .modal-content {
    width: 978px !important;
}

.language_modal .modal-header .modal-title {
    font-family: 'Poppins_Bold';
}

.language_modal .modal-header p {
    font-family: 'Poppins_Bold';
    margin-bottom: 0px;
}

.language_modal .modal-header p span {
    color: rgba(255, 218, 68, 1);
}

.language_modal .modal-body {
    background-color: rgba(22, 22, 65, 1);
    color: #fff;
}

.language_modal .modal-body .flag_container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0px 190px 0px;
}

.language_modal .modal-body .flag_container div {
    margin: 23px 21px;
    cursor: pointer;
}

.language_modal .modal-footer {
    background-color: rgba(22, 22, 65, 1);
    border-top: 0px;
}